:root {
  --mainbuttonfarbe: rgba(183,0,255,1);
  --mainbuttonhoverfarbe: rgba(245,0,255,1);
  --akzentfarbe: rgba(0,255,0,1);
}
body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-size: cover;
    font-family: sans-serif;
}
#particles-js{
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0,255,255, 1) 0%, rgba(0,0,255,1)/*rgba(35,58,119, 1)*/ 100%);
}
.loginBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    height: 350px;
    padding: 40px 40px;
    box-sizing: border-box;
    background: rgba(0,0,0,.5);
}
.loginBox h2{
    margin: 0;
    padding: 0 0 20px;
    color: var(--akzentfarbe);
    text-align: center;
}
.loginBox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #fff;
}
.loginBox input{
    width: 100%;
    margin-bottom: 20px;
}
.loginBox input[type="text"], .loginBox input[type="password"]{
    border:  none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
::placeholder{
    color: rgba(255,255,255,.8);
}
.loginBox input[type="submit"]{
  font-weight: bold;
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background: var(--mainbuttonfarbe);
    cursor: pointer;
    border-radius: 20px;
}
.loginBox input[type="submit"]:hover{
    background: var(--mainbuttonhoverfarbe);
    color: #262626;
}
.loginBox a{
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.loginBox a.pw{
    float: left;
}
.loginBox a.register{
    float: right;
}

/*----------------------------------------------------------------------------*/

.userBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: 80%;
    padding: 40px 40px;
    box-sizing: border-box;
    background: rgba(0,0,0,.5);
}
.userBox h2{
    margin: 0;
    padding: 0 0 20px;
    color: var(--akzentfarbe);
    text-align: center;
}
.userBox a.loginFail{
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  padding-left: 22%;
}
.userBox a.noData{
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  padding-left: 43%;
  padding-right: 43%;
}

.userBox a.abmelden{
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

/*----------------------------------------------------------------------------*/

.newUserBox{
    position: fixed;
    right: 2%;
    top: -75%;
    width: 30%;
    height: 75%;
    background: rgba(0,0,0,.75);
    transition: 0.5s;
    padding: 40px 40px;
    box-sizing: border-box;
}
.newUserBox input[type="text"], .newUserBox input[type="password"]{
    border:  none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
    color: #fff;
    font-size: 16px;
}
.newUserBox input[type="submit"]{
    border: none;
    outline: none;
    width: 100%;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background: var(--mainbuttonfarbe);
    cursor: pointer;
    border-radius: 20px;
}
.newUserBox input[type="submit"]:hover{
    background: var(--mainbuttonhoverfarbe);
    color: #262626;
}
#logoff{
    background: var(--abmelden-color);
    color: #FFFFFF;
}
#logoff:hover{
    background: var(--abmelden-hover-color);
    color: #000000;
}
.newUserBox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #fff;
}
.newUserBox h3{
    margin: 0;
    padding: 0 0 20px;
    color: var(--akzentfarbe);
    text-align: center;
}
.newUserBox.active{
    top: 0;
}
.newUserBox .toggle{
    position: absolute;
    top: 100%;
    transform: translateX(-50%);
    left: 50%;
    width: 80px;
    height: 80px;
    background: var(--mainbuttonfarbe);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.newUserBox .toggle:hover{
    background: var(--mainbuttonhoverfarbe);
}
.newUserBox .toggle::before{
    content: '';
    position: relative;
    left: 1px;
    top: -10px;
    width: 30px;
    height: 30px;
    border-top: 4px solid #000;
    border-right: 4px solid #000;
    transform: rotate(135deg);
    transition: 0.5s;
}
.newUserBox.active .toggle::before{
    transform: rotate(315deg);
    top: 10px;
}
.newUserBox form{
    margin: 0;
    padding: 0;
    transition: 0.5s;
    padding: 40px;
    padding-bottom: 20px;
}
.newUserBox .su{
  padding-bottom: 15px!important;
}
.newUserBox .su input[type="checkbox"]{
  float: right;
}
.place1{
    position: fixed;
    left: 2%;
    top: -75%;
    width: 30%;
    height: 75%;
    background: rgba(0,0,0,.75);
    transition: 0.5s;
    padding: 40px 40px;
    box-sizing: border-box;
}
.place1 h3{
    margin: 0;
    padding: 0 0 20px;
    color: var(--akzentfarbe);
    text-align: center;
}
.place1.active{
    top: 0;
}
.place1 .toggle{
    position: absolute;
    top: 100%;
    transform: translateX(-50%);
    left: 50%;
    width: 80px;
    height: 80px;
    background: var(--mainbuttonfarbe);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.place1 .toggle:hover{
    background: var(--mainbuttonhoverfarbe);
}
.place1 .toggle::before{
    content: '';
    position: relative;
    left: 1px;
    top: -10px;
    width: 30px;
    height: 30px;
    border-top: 4px solid #000;
    border-right: 4px solid #000;
    transform: rotate(135deg);
    transition: 0.5s;
}
.place1.active .toggle::before{
    transform: rotate(315deg);
    top: 10px;
}
.place2{
    position: fixed;
    left: 35%;
    top: -75%;
    width: 30%;
    height: 75%;
    background: rgba(0,0,0,.75);
    transition: 0.5s;
    padding: 40px 40px;
    box-sizing: border-box;
}
.place2 h3{
    margin: 0;
    padding: 0 0 20px;
    color: var(--akzentfarbe);
    text-align: center;
}
.place2.active{
    top: 0;
}
.place2 .toggle{
    position: absolute;
    top: 100%;
    transform: translateX(-50%);
    left: 50%;
    width: 80px;
    height: 80px;
    background: var(--mainbuttonfarbe);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.place2 .toggle:hover{
    background: var(--mainbuttonhoverfarbe);
}
.place2 .toggle::before{
    content: '';
    position: relative;
    left: 1px;
    top: -10px;
    width: 30px;
    height: 30px;
    border-top: 4px solid #000;
    border-right: 4px solid #000;
    transform: rotate(135deg);
    transition: 0.5s;
}
.place2.active .toggle::before{
    transform: rotate(315deg);
    top: 10px;
}
/*
.newUserBox{
  float: right;
  width: 33%;
}
.newUserBox h2{
  margin: 0;
  padding: 0 0 20px;
  color: var(--akzentfarbe);
  text-align: center;
}
.newUserBox p{
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #fff;
}
.newUserBox input{
  width: 100%;
  margin-bottom: 20px;
}
.newUserBox input[type="text"], .newUserBox input[type="password"]{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}
::placeholder{
  color: rgba(255,255,255,.8);
}
.newUserBox input[type="checkbox"]{
  background: black;
  width: 5%;
  float: right;
  cursor: pointer;
}
.newUserBox input[type="submit"]{
  font-weight: bold;
  border: none;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
  background: #ff267e;
  cursor: pointer;
  border-radius: 20px;
}
.newUserBox input[type="submit"]:hover{
  background: var(--akzentfarbe);
  color: #262626;
}
.newUserBox h3{
  margin: 0;
  padding: 0 0 20px;
  color: var(--akzentfarbe);
  text-align: center;
}*/
